pysqlite3-binary
streamlit
python-docx
PyPDF2
pymupdf
reportlab
pandas
openpyxl
Pillow
opencv-python-headless
numpy
easyocr
sentence-transformers
torch
torchvision
openai-whisper
langchain
langchain-community
langchain-chroma
langchain-huggingface
langchain-text-splitters
langchain-groq
chromadb
sqlalchemy
pymysql
python-dotenv
