pysqlite3-binary
streamlit
python-docx
PyPDF2
pymupdf
pandas
openpyxl
Pillow
opencv-python
numpy
easyocr
sentence-transformers
torch
torchvision
openai-whisper
langchain
langchain-community
langchain-chroma
langchain-huggingface
langchain-groq
chromadb
sqlalchemy
pymysql
python-dotenv
